{% extends 'base.html' %}

{% block content %}

    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if project_list|length == 0 %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </thead>
                {% for item in project_list %}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'show_project' item.id %}">{{ item.name }}</a></td>
                            <td>{{ item.tasks.all|length }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock content %}
